@import './separator';
@import './systray';

.bar {
  background-color: $black;
}

.date {
  background-color: $black;
}

.separator {
  padding: 5px;
}
//
//
// .bob {
//   border-right-color: $black;  //add color here
//   border-top-color: $green;
//   border-bottom-color: $green;
// }
