.notifications_window {
  .notifications {
    padding: 8px;

    .notification {
      background-color: $grey;
      min-width: 300px;
      padding: 12px;

      .app_img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-width: 60px;
        min-height: 60px;
      }

      .meta {
        padding: 8px 0;

        .app_name {
          letter-spacing: 2px;
          font-weight: 900;
          font-size: 12px;
          color: $yellow;
        }
        
        .summary {
          color: $red;
        }
      }
    }
  }
}
