include "theme.kdl"

workspace "scratchpad"
workspace "main"
workspace "misc"

layout {
  // inner 10, outer 5
  gaps 10
  struts {
    left -5
    right -5
    top -5
    bottom -5
  }

  border {
    width 2
    active-color { color.primary }
    inactive-color { color.bg1 }
    urgent-color { color.red }
  }

  insert-hint {
    color { color.green }
  }
}
