output "eDP-1" {
    // off
    mode "1920x1080@60"
    scale 1.0
    transform "normal"
    focus-at-startup
    // TODO set later
    // background-color "#003300"
    // backdrop-color "#001100"
  
    // position x=1280 y=0

    // monitor doesnt have
    // variable-refresh-rate // on-demand=true
}
